
a {
    color: white;
}

@font-face {
    font-family: 'kool_beansregular';
    src: url('koolbean.woff2') format('woff2'),
         url('koolbean.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body {
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: row;
    font-family:Arial, Helvetica, sans-serif;
    letter-spacing: -1px;
}

#rightSideContainer {
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 251, 242);
    width: 60%;
    height: 100vh;
    font-size: 36px;
}

#leftSideContainer{
    display: relative;
    width: 40%;
    height: 100%;
    
}

#backgroundImage {
    position: absolute;
    flex-direction: column;
    height: 100%;
    width: 40%;
    object-fit: cover;
    z-index: 0;
}

#logo {
    position: absolute;
    height: 200px;
    left: 25%;
    opacity: 1;
}

.logoText {
    position: absolute;
    right: 6%;
    color: white;
    font-size: 42px;
    font-family: 'kool_beansregular', Arial, sans-serif;
    letter-spacing: 2px;
    font-weight: bold;
}

.imageText {
    position: absolute;
    align-self: flex-end;
    padding-bottom: 15px;
    left: 15%;
    color: white;
}

.transparentBackground {
    position: absolute;
    background-color: rgba(0,0,0,0.6);
    width: 40%;
    height: 200px;
    top: 290px;
    align-self: center;
    /* box-shadow: 5px -10px 21px 0px #FFFFFF, 
    -10px 10px 21px -1px #FFFFFF; */
    z-index: 1;
}

#blurb {
    font-weight: bold;
    width: 75%;
    font-size: 28px;
    margin-left: 50px;
    margin-top:  100px;
}

#tableContainer {
    margin-top: 50px;
    background-color: red;
    height: 35%;
    box-shadow: 0px 2px 8px black;
}

table {
    margin-top: 20px;
    margin-left: 50px;
}

th {
    background-color: white;
    text-align: left;
    box-shadow: 5px 2px 25px 1px black;
}

td {
    padding-top: 20px;
    text-align:  left;
    box-shadow: 1px 1px 1px 5px black;
}


/* 
Use the body as flex-display container.
Place 2 containers, left and right side.
Inside left container, we want 2 more containers for the logo and the credit
Right side will have to be a flex-display container, we'll have multiple
children of this parent. 
1 Div for the text.
1 Table for the signup form
1 Div for the create account and login section*/