
a {
    color: white;
}

@font-face {
    font-family: 'kool_beansregular';
    src: url('koolbean.woff2') format('woff2'),
         url('koolbean.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body {
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: row;
}

#rightSideContainer {
    background-color: red;
    width: 60%;
    height: 100vh;
}

#leftSideContainer{
    display: relative;
    flex-direction: column;
    width: 40%;
    height: 100%;
    
}

#backgroundImage {
    position: absolute;
    height: 100%;
    width: 40%;
    object-fit: cover;
    z-index: 0;
}

#logo {
    position: absolute;
    height: 200px;
    left: 25%;
    opacity: 1;
}

.logoText {
    position: absolute;
    right: 6%;
    color: white;
    font-size: 42px;
    font-family: 'kool_beansregular', Arial, sans-serif;
    letter-spacing: 2px;
    font-weight: bold;
}

.imageText {
    position: absolute;
    align-self: flex-end;
    padding-bottom: 15px;
    left: 15%;
    color: white;
}

.transparentBackground {
    position: absolute;
    background-color: rgba(0,0,0,0.6);
    width: 40%;
    height: 200px;
    top: 290px;
    align-self: center;
    /* box-shadow: 5px -10px 21px 0px #FFFFFF, 
    -10px 10px 21px -1px #FFFFFF; */
    z-index: 1;
}

/* #artistCredit {
    display: flex;
    align-self: flex-end;
    justify-self: flex-end;
} */

/* 
Use the body as flex-display container.
Place 2 containers, left and right side.
Inside left container, we want 2 more containers for the logo and the credit
Right side will have to be a flex-display container, we'll have multiple
children of this parent. 
1 Div for the text.
1 Table for the signup form
1 Div for the create account and login section*/